.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

    .statuses {
        display: flex;
        flex-direction: column;
        margin-right: 5rem;
    }

    .board {
        font-size: 0;
        width: var(--width);
        min-width: var(--width);
        height: calc(var(--width) * 0.9);
        --width: calc(var(--s) * var(--e));
        --e: 3;
        --m: 1px; // margin
        --f: calc(var(--s) + 4 * var(--m) - 1px); // used to shift some cells from the left

        &::before {
            content: "";
            width: calc(var(--s) / 1.25 - var(--ms) * var(--m));
            float: left;
            height: 150%;
            // background: repeating-linear-gradient(#000 0 10px, #0000 15px var(--f));
            shape-outside: repeating-linear-gradient(#000 0 10px, #0000 15px var(--f));
        }

        &[data-level="2"] {
            --e: 3; // max number of elements in row
            --s: 170px; // size
            --ms: 4;
            .hexagon {
                margin-right: calc(var(--s) / 1.75 - 4 * var(--m));

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        &[data-level="3"] {
            --e: 5; // max number of elements in row
            --s: 90px; // size
            --ms: 2;

            &::before {
                margin-top: calc(var(--s) * 1.5);
                height: calc(150% - var(--s) * 1.5);
            }

            .hexagon {
                font-size: 2.5rem;
                margin-right: calc(var(--s) * 0.5 + 4 * var(--m));
            }

            .hexagon:nth-child(1),
            .hexagon:last-child {
                margin-left: calc(var(--s) * 1.55 + 2 * var(--m));
            }

            .hexagon:nth-child(2) {
                margin-left: calc(var(--s) * 0.8);
            }
        }

        &[data-level="4"] {
            --e: 7; // max number of elements in row
            --s: 70px; // size
            --ms: 1;

            &::before {
                margin-top: calc(var(--s) * 2);
                height: calc(161% - var(--s) * var(--e));
            }

            .hexagon {
                font-size: 2rem;
                margin-right: calc(var(--s) * 0.5 + 4 * var(--m));
            }

            .hexagon:nth-child(1),
            .hexagon:last-child {
                margin-left: calc((var(--width) / 2) - (var(--s) + var(--e) * var(--m) + 3px) );
                margin-right: calc(var(--width) / 2 - var(--s) );
            }

            .hexagon:nth-child(2),
            .hexagon:nth-last-child(-n+3):not(:nth-last-child(-n+2)) {
                margin-left: calc(var(--s) * 1.6 - var(--ms) * var(--m) );
            }

            .hexagon:nth-child(4) {
                margin-left: calc(var(--s) * 0.75 + var(--e) * var(--ms) * var(--m) / 2 );
            }
        }
    }
}
